<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/hello.css">

</head>
<body>
    <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0" style="background-color: #bcdff7;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/188px-Emblem_of_India.svg.png"
                    width="45" height="55" alt="home"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLink"
                aria-controls="navLink" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row collapse navbar-collapse" id="navLink">
                <div class="col navbar-nav">
                    <a class="nav-link nav-link-hover" aria-current="page" href="/event/create">CREATE</a>
                    <a class="nav-link" href="/event/Schedule">SCHEDULE</a>
                    <a class="nav-link" href="/event/Data">DATA</a>
                    <a class="nav-link" href="/event/Calandar">CALENDER</a>
                </div>
                <div class="col-md-4 d-lg-flex justify-content-sm-end">
                    <form class="d-flex py-0 rounder-pill" role="search">
                        <input class="form-control me-2" type="search" placeholder="search" aria-label="Search">
                        <button class="btn btn-info" id="button" type="searcht">Search</button>
                        <img class="sw-logo"
                            src="https://cdnbbsr.s3waas.gov.in/s388ef51f0bf911e452e8dbb1d807a81ab/uploads/2020/05/2020052969.png"
                            alt="ecourts logo" width="50">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mt-5 pt-3 text-center">
            <h1 class="display-4"><%= find_case.Name %></h1>
        </div>
        <div class="row text-center">
            <h1 class="display-5">Countdown</h1>
            <h1 class="display-5">Objections per session</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-4 g-0">
                    <div class=" bg-success bg-opacity-10 p-3 border border-success text-center fs-4">Lawyer 1 : 3
                        <button class="btn btn-warning">Warning</button></div>
                </div>
                <div class="col-md-4 g-0">
                    <div class=" bg-success bg-opacity-10 p-3 border border-success text-center fs-4">Lawyer 2 : 3
                        <button class="btn btn-warning">Warning</button></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container mt-2">
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-danger" id="reset">Reset</button>
                </div>
            </div>
        </div>
                <!-- <button class="btn btn-danger" id="reset">reset</button> -->
                <div class="container mt-3">
                    <div class="imp fs-4">
                        <div>Crime : <%= find_case.Crime %>
                        </div>
                        <div>Hearing : <%= find_case.Hearing %>
                        </div>
                        <div>Priority : <%= find_case.Algo.Priority %>
                        </div>
                        <div>Petioner: <%= find_case.Petioner %></div>
                        <div>Respondent : <%= find_case.Respondent %></div>
                        <div>Case_Type  : <%= find_case.Case_Type %></div>
                        <a class="icon-link icon-link-hover" href="#">
                            Evidence
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
        </div>

        <footer id="mainFooter" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="col-xs-12 text-center">
                        <div class="footerMenu">
                            <ul id="menu-footer-en" class="menu">
                                <li id="menu-item" class="menu-item"><a href="1">About Us</a></li>
                                <li id="menu-item" class="menu-item"><a href="2">Contact Us</a></li>
                                <li id="menu-item" class="menu-item "><a href="3">Feedback</a></li>
                                <li id="menu-item" class="menu-item"><a href="4">Web Policy</a></li>
                                
                            </ul>       
                        </div>     
                    </div>
                </div>
            </div>
        </footer>
    
</body>
</html>